
:root  {
  --background: 308 100% 95%;
  --foreground: 308 5% 0%;
  --card: 308 50% 90%;
  --card-foreground: 308 5% 10%;
  --popover: 308 100% 95%;
  --popover-foreground: 308 100% 0%;
  --primary: 308 80% 67%;
  --primary-foreground: 0 0% 0%;
  --secondary: 308 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 270 30% 85%;
  --muted-foreground: 308 5% 35%;
  --accent: 270 30% 80%;
  --accent-foreground: 308 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 308 5% 90%;
  --border: 308 30% 50%;
  --input: 308 30% 18%;
  --ring: 308 80% 67%;
  --radius: 0.5rem;
}
.dark  {
  --background: 308 50% 5%;
  --foreground: 308 5% 90%;
  --card: 308 50% 0%;
  --card-foreground: 308 5% 90%;
  --popover: 308 50% 5%;
  --popover-foreground: 308 5% 90%;
  --primary: 308 80% 67%;
  --primary-foreground: 0 0% 0%;
  --secondary: 308 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 270 30% 15%;
  --muted-foreground: 308 5% 60%;
  --accent: 270 30% 15%;
  --accent-foreground: 308 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 308 5% 90%;
  --border: 308 30% 18%;
  --input: 308 30% 18%;
  --ring: 308 80% 67%;
  --radius: 0.5rem;
}
